<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>969248070822-213cal5k8e1quodcb4dtraucs0k60fp0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969248070822-213cal5k8e1quodcb4dtraucs0k60fp0</string>
	<key>API_KEY</key>
	<string>AIzaSyDtmibPZUPaT8e8a0sVU2UwJuvTA3X-WfM</string>
	<key>GCM_SENDER_ID</key>
	<string>969248070822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mousapps.genomelinks</string>
	<key>PROJECT_ID</key>
	<string>genomelink-a83d8</string>
	<key>STORAGE_BUCKET</key>
	<string>genomelink-a83d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969248070822:ios:bba5204aa3d07c83</string>
	<key>DATABASE_URL</key>
	<string>https://genomelink-a83d8.firebaseio.com</string>
</dict>
</plist>